body {
    background: linear-gradient(45deg, #873a7b, #e99343);
    width: 100vw;
    height: 100vh;
}

h4 {
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(253, 253, 253);
}

h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(253, 253, 253);
    font-weight: bold;
}